<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'respite/style.css' %}" />
	<title>{% block title %}Title{% endblock %}</title>
</head>

<body>
	<a class="logo" href="{% url 'homepage' %}">Respite</a>
	<div id="nav">
			<ul>
				<li><a href="/faqs">FAQS</a></li>
				<li><a href="/referral">Referral</a></li>
				<li><a href="{% url 'patient_list' %}">Patients</a></li>
				<li><a href="/status">Status</a></li>
				<li><a href="/statistics">Statistics</a></li>
				{% if user.is_authenticated %}
					<li><a href="/logout/?next={{ request.path }}">Logout</a></li>
				{% else %}
					<li><a href="/login/?next={{ request.path }}">Login</a></li>
				{% endif %}
			</ul>
		</div>

	<div class="container">
		<h1>{% block pagename %}Page name{% endblock %}</h1>
		
		{% block container %}{% endblock %}
	</div>
</body>
</html>