<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'respite/style.css' %}" />
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div id="banner">
        <a class="logo" href="{% url 'homepage' %}">Respite</a>
            <div id="nav">
                <ul>
                    <li><a href="{% url 'referral' %}">Referral</a></li>
                    <li><a href="{% url 'status' %}">Occupancy</a></li>
                    <li><a href="{% url 'patient_list' %}">Patient List</a></li>
                    <li><a href="{% url 'statistics' %}">Statistics</a></li>
                    <li><a href="{% url 'faqs' %}">FAQs</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
    </div>
    <div class="container">
        <h1>{% block pagename %}Page name{% endblock %}</h1>
        
        {% block container %}{% endblock %}
    </div>
</body>
</html>