{% extends 'respite/base.html' %}

{% block title %}Patient List | Respite{% endblock %}
{% block pagename %}Patient List{% endblock %}

{% block container %}
    {% if patient_list %}
        <div id="patient-links">
            <ul>
                {% for patient in patient_list %}
                    <p><a href="{% url 'patient_details' patient.id %}">{{ patient }}</a></p>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No patients are available.</p>
    {% endif %}
{% endblock %}