{% extends 'respite/base.html' %}

{% block title %}Statistics | Respite{% endblock %}
{% block pagename %}Statistics{% endblock %}

{% block container %}
    
    <h3 class="statistics-titles">Yearly total bednights</h3>
    {% for year, total in ytd_totals.items %}
        <ul>
            <li class="statistics-details">{{ year }}: {{ total }}</li>
        </ul>
    {% endfor %}

    <h3 class="statistics-titles">Yearly total bednights (Male)</h3>
    {% for year, total in ytd_male.items %}
        <ul>
            <li class="statistics-details">{{ year }}: {{ total }}</li>
        </ul>
    {% endfor %}

    <h3 class="statistics-titles">Yearly total bednights (Female)</h3>
    {% for year, total in ytd_female.items %}
        <ul>
            <li class="statistics-details">{{ year }}: {{ total }}</li>
        </ul>
    {% endfor %}
{% endblock %}