{% extends 'respite/base.html' %}

{% block title %}Occupancy | Respite{% endblock %}
{% block pagename %}Occupancy{% endblock %}

{% block container %}
    
    <h3 class="occupancy-title">Male bed occupancy</h3>
    {% if male_bed_vacancy_flag == False %}
        <p class="occupancy-details">No male beds available</p>
    {% else %}
        <p class="occupancy-details">Male beds available</p>
    {% endif %}

    <h3 class="occupancy-title">Female bed occupancy</h3>
    {% if female_bed_vacancy_flag == False %}
        <p class="occupancy-details">No female beds available</p>
    {% else %}
        <p class="occupancy-details">Female beds available</p>
    {% endif %}
{% endblock %}