{% extends 'respite/base.html' %}

{% block title %}Occupancy | Respite{% endblock %}
{% block pagename %}Occupancy{% endblock %}

{% block container %}
    
    <h3>Male bed status</h3>
    {% if male_bed_vacancy_flag == False %}
        <p>No male beds available</p>
    {% else %}
        <p>Male beds available</p>
    {% endif %}

    <h3>Female bed status</h3>
    {% if female_bed_vacancy_flag == False %}
        <p>No female beds available</p>
    {% else %}
        <p>Female beds available</p>
    {% endif %}
{% endblock %}